.avatars img{
  margin: 0 auto;
}

.item-avatar  {
  width:100% !important;
  height : 100% !important;
  max-width: 100px !important;  //any size
  max-height: 100px !important; //any size
}

.ion-checkbox {
  margin-left: 10px !important;
}

.female-icon {
  margin-left: 5px !important;
}

.male-icon {
  margin-right: 5px !important;
}

.select-icon-inner {
  border-top: transparent!important;
}

ion-radio {
  margin-right: 10px !important;
}

ion-checkbox {
  margin-right: 10px !important;
}

.emergency-text {
  font-size: 0.8rem;
}
