.qty-donants {
  border-radius: 50%;
  /* remove if you don't care about IE8 */
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1vw solid #666;

  text-align: center;

}
.qty-donants h1 {
  font: 15vw Arial, sans-serif;
  color: #666;
  margin-top: 8.5%;
}
.text-qty {
  font: 6vw Arial, sans-serif;
  text-align: center;
}
