<app-header title="Ser donante"></app-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card padding-top padding-bottom routerLink="/test" justify-content-center color="danger">

          <ion-card-header no-padding>
            <ion-card-title text-center>
              <ion-icon mode="md" style="zoom:1.5;" name="checkbox-outline"></ion-icon>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content no-padding text-center>
            Test puedo ser donante
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col no-padding size="6" *ngFor="let card of cards">

        <ion-card padding-top padding-bottom routerLink="{{ card.router }}" justify-content-center [style.background]="card.background">
          <ion-card-header no-padding>
            <ion-card-title text-center>
              <ion-icon mode="md" style="zoom:1.5;" name="{{ card.icon }}"></ion-icon>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content no-padding text-center>
            {{ card.title }}
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
