
  <ion-grid style="background-color: #f2f2f2; border-top: 1px solid #e6e6e6">
    <ion-row justify-content-between nowrap>
      <ion-col>
        <ion-button routerLink="/home" mode="md">
          <ion-icon class="icon-color" mode="md" name="home"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/send-notification" mode="md">
          <ion-icon src="assets/icon/icono-goa-13-13.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/alert" mode="md">
          <ion-icon class="icon-color" mode="md" name="heart"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/alert" mode="md">
          <ion-icon class="icon-color" mode="md" name="notifications"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button routerLink="/home" mode="md">
          <ion-icon class="icon-color" mode="md" name="person"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>





<!--<ion-tabs>-->
<!--  <ion-tab-bar padding color="dark" slot="bottom">-->
<!--    <ion-tab-button >-->
<!--      <ion-icon mode="md" name="home"></ion-icon>-->
<!--    </ion-tab-button>-->

<!--    <ion-tab-button tab="mitos">-->
<!--      <ion-icon src="assets/logo/ok-14.svg"></ion-icon>-->
<!--    </ion-tab-button>-->

<!--    <ion-tab-button>-->
<!--      <ion-icon mode="md" name="heart"></ion-icon>-->
<!--    </ion-tab-button>-->

<!--    <ion-tab-button>-->
<!--      <ion-icon mode="md" name="notifications"></ion-icon>-->
<!--    </ion-tab-button>-->

<!--    <ion-tab-button>-->
<!--      <ion-icon mode="md" name="person"></ion-icon>-->
<!--    </ion-tab-button>-->
<!--  </ion-tab-bar>-->
<!--</ion-tabs>-->

