<app-header title="Donde Donar"></app-header>

<ion-content padding>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="light">
            <ion-icon name="expand"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!--<div class="padding"></div>-->
    <!--<img src="/assets/img/map/maps.png" class="image">-->
    <!--<ion-button expand="full">Donde donar</ion-button>-->
</ion-content>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-4></ion-col>
    <ion-col col-4>
      <ion-card>

        <ion-card-content>

          <ion-row>
            <ion-col col-4></ion-col>
            <ion-col col-4>
              <img src="assets/img/map/hospital.svg" class="image">
            </ion-col>
            <ion-col col-4></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4></ion-col>
            <ion-col col-4>
              <ion-button>Buscar centros de donacion</ion-button>
            </ion-col>
            <ion-col col-4></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-4></ion-col>
  </ion-row>


</ion-content>
<ion-footer text-center no-border>
  <ion-button (click)="onClick()">Volver</ion-button>
</ion-footer> -->