<ion-content>

  <ion-grid margin-bottom>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col class="ion-text-center">
        <img
            src="/assets/logo/logo.svg"
            [height]="logoHeight"
            [width]="logoWidth">
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>

  <!------------------------------->
  <!---------- Init Form ---------->
  <!------------------------------->

  <form [formGroup]="loginForm" class="form-container" (ngSubmit)="login()">
    <ion-item no-padding>
      <ion-input class="custom-input" autocapitalize="sentences" formControlName="identity" placeholder="Usuario o Correo" required></ion-input>
      <ion-icon class="icon-login" mode="md" no-margin name="contact" slot="end"></ion-icon>
    </ion-item>
    <ion-item margin-bottom no-padding>
      <ion-input autocapitalize="sentences" required type="password" placeholder="Contraseña" formControlName="password"></ion-input>
      <ion-icon class="icon-login" mode="md" name="eye" no-margin slot="end"></ion-icon>
    </ion-item>

    <!--<ion-item lines="none" margin-top="60" margin-bottom="60" no-padding float-left>-->
      <!--<ion-checkbox formControlName="remember_me" no-padding color="primary" checked="false"></ion-checkbox>-->
      <!--<ion-label class="remember-me">Recordarme</ion-label>-->
    <!--</ion-item>-->

    <ion-button margin-top mode="md" shape="round" color="danger" size="large" expand="full" type="submit">Iniciar</ion-button>

  </form>

  <!------------------------------->
  <!-------- End Init Form -------->
  <!------------------------------->

  <ion-grid no-padding>
    <ion-row justify-content-center>
      <ion-item lines="none" >
        <ion-label text-right>
          <a routerLink="/" class="forget-password">¿Olvidaste tu contraseña?</a>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-text class="account-text" color="medium">¿No tenes cuenta? <a class="register-text" routerLink="/register">Registrate</a></ion-text>
      </ion-item>
    </ion-row>
  </ion-grid>



</ion-content>
