<app-header title="Registro"></app-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>

            <!------------------ Email ------------------------>
            <ion-item>
              <ion-input formControlName="username" type="text" placeholder="Usuario" required></ion-input>
              <ion-icon class="icon-login" mode="md" name="contact" slot="end"></ion-icon>
            </ion-item>
            <!------------------ End Email ------------------------>

            <!------------------ Email ------------------------>
            <ion-item>
              <ion-input formControlName="email" type="email" placeholder="Correo electronico" required></ion-input>
              <ion-icon class="icon-login" name="at" slot="end"></ion-icon>
            </ion-item>
            <!------------------ End Email ------------------------>

            <!------------------ Password ------------------------>
            <ion-item>
              <ion-input formControlName="password" type="password" placeholder="Contraseña" required></ion-input>
              <ion-icon class="icon-login" name="eye-off" slot="end"></ion-icon>
            </ion-item>
            <!------------------ End Password ------------------------>

            <!------------------ Confirm Password ------------------------>
            <ion-item>
              <ion-input formControlName="confirm_password" type="password" placeholder="Repetir Contraseña" required></ion-input>
              <ion-icon class="icon-login" name="eye-off" slot="end"></ion-icon>
            </ion-item>
            <!------------------ End Confirm Password ------------------------>

            <!------------------ End Last Name ------------------------>

            <!------------------ Blood Type ------------------------>
            <ion-list>
              <ion-radio-group formControlName="blood_type_id">
                <ion-list-header>
                  <ion-label color="danger">¿Qué tipo de sangre sos?</ion-label>
                </ion-list-header>
                <ion-grid>
                  <ion-row *ngIf="(bloodTypes$ | async) as bloodGroup">
                    <ion-col size="3" *ngFor="let bloodType of bloodGroup">
                      <ion-item no-margin no-padding lines="none">
                        <ion-label no-margin no-padding>{{ bloodType.blood_type }}</ion-label>
                        <ion-radio no-margin mode="md" no-padding slot="start" value="{{ bloodType.id }}"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-radio-group>
            </ion-list>
            <!------------------ End Blood Type ------------------------>


          </div>

          <div padding>
            <ion-button mode="md" shape="round" color="danger" size="large" expand="full" type="submit">Siguiente</ion-button>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
