<app-header title="Cómo hacerlo"></app-header>

<ion-content class="content-padding">
  <h2 class="title">Pasos a seguir para donar sangre</h2>
  <table>
    <tbody>
    <tr valign="top">
      <td width="20px"><div class="red">1</div></td>
      <td colspan="2"><h4>Antes de donar, informate</h4></td>
    </tr>
    <tr>
      <td rowspan="6" valign="top">
      <td colspan="2" style="padding-bottom: 15px;">
        Si estás decidido a donar sangre tené
        en cuenta algunas consideraciones y
        requisitos para hacerlo.
      </td>
    </tr>
    <tr valign="top">
      <td style="padding-top: 3px;"><ion-icon color="danger" name="arrow-forward" mode="md"></ion-icon></td>
      <td style="padding: 0 0 10px 5px;">
        Estar descansada/o, habiendo
        dormido por lo menos 6 horas.
      </td>
    </tr>
    <tr valign="top">
      <td style="padding-top: 3px;"><ion-icon color="danger" name="arrow-forward" mode="md"></ion-icon></td>
      <td style="padding: 0 0 10px 5px;">
        Sentirte en buenas condiciones (no
        tener síntomas de malestar
        general, fiebre, resfrío o tos).
      </td>
    </tr>
    <tr valign="top">
      <td style="padding-top: 3px;"><ion-icon color="danger" name="arrow-forward" mode="md"></ion-icon></td>
      <td style="padding: 0 0 10px 5px;">
        Debés desayunar o almorzar de
        forma habitual y tomar líquidos en
        abundancia (no alcohólicos).
      </td>
    </tr>
    <tr valign="top">
      <td style="padding-top: 3px;"><ion-icon color="danger" name="arrow-forward" mode="md"></ion-icon></td>
      <td style="padding: 0 0 10px 5px;">
        Buscá el Centro de Donación más
        cercano y consultá el horario.
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-bottom: 10px;">
        <div style="padding: 15px 15px; border: 1px solid black; border-radius: 7px; text-align: center; font-size: 0.85rem">
          Recordá que NO tenés que ir en ayunas.
        </div>
      </td>
    </tr>
    <tr valign="top">
      <td rowspan="7" width="20px">
        <div class="red">2</div>
      </td>
      <td colspan="2">
        <h4>Concurrí al Centro de Donación con tu DNI</h4>
      </td>
    </tr>
    </tbody>
  </table>
</ion-content>

<app-footer></app-footer>

