<app-header title="Por què donar" xmlns="http://www.w3.org/1999/html"></app-header>

<ion-content>
    <ion-card no-margin no-padding mode="md" text-center>
      <ion-card-header>
        <ion-card-subtitle>¿Sabías que?</ion-card-subtitle>
        <ion-card-subtitle class="title" color="danger">9 de cada 10 personas</ion-card-subtitle>
        <ion-card-subtitle>necesitarán sangre para ellas o su entorno en algún monento de su vida</ion-card-subtitle>
        <ion-card-title margin-top id="title2"> Doná sangre. Alguien la puede estar necesitando</ion-card-title>
      </ion-card-header>

      <ion-card-content no-padding padding-start padding-end padding-bottom>
        Recordá que la atención de una persona en un centro de salud nunca puede estar condicionada por el aporte de donantes.
      </ion-card-content>
    </ion-card>

    <ion-card no-margin id="promotion" padding-top>
        <img src="/assets/logo/ok-14.svg" alt="" height="150">
      <ion-card-header margin-top no-padding padding-start padding-end>
        <ion-card-title class="promotion-h1" color="dark">Promovemos la donación voluntaria y frecuente de sangre.</ion-card-title>
      </ion-card-header>

      <ion-card-content no-padding padding-start padding-end>
          <ion-item lines="none" no-padding>
              <ion-label no-margin class="font-promotion ion-text-wrap">
                  Para contar con sangre segura.
              </ion-label>
              <ion-icon no-margin name="arrow-forward" slot="start" mode="md" color="danger"></ion-icon>
          </ion-item>
          <ion-item lines="none" no-padding>
              <ion-label no-margin class="font-promotion ion-text-wrap">
                  Para que la sangre este siempre disponible.
              </ion-label>
              <ion-icon no-margin name="arrow-forward" slot="start" mode="md" color="danger"></ion-icon>
          </ion-item>
          <ion-item lines="none" no-padding margin-bottom>
              <ion-label no-margin class="font-promotion ion-text-wrap">
                  Para evitar que el paciente y su entorno deban encontrar donantes.
              </ion-label>
              <ion-icon no-margin name="arrow-forward" slot="start" mode="md" color="danger"></ion-icon>
          </ion-item>
      </ion-card-content>
        <ion-card-header no-padding padding-start padding-end>
            <ion-card-title class="promotion-h2" color="dark">Hacete donante voluntario y habitual.</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card style="--background: #ffffff" padding>
      <ion-card-header no-padding padding-bottom style="border-bottom: solid 1px #DEE2E6" margin-bottom>
        <ion-card-subtitle>La sangre no se puede fabricar</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content no-padding margin-top margin-bottom>
        Los componentes para transfundir duran:
      </ion-card-content>

      <ion-card-content no-padding>
          <ion-label>Las <span class="bold-card">plaquetes</span> duran hasta <span class="bold-card">5 días.</span></ion-label><br>
          <ion-label>Los <span class="bold-card">glóbulos rojos</span> hasta<span class="bold-card"> 42 días.</span></ion-label><br>
          <ion-label>El plasma hasta <span class="bold-card">1 año.</span></ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card style="--background: #ffffff" padding>
        <ion-card-header no-padding padding-bottom style="border-bottom: solid 1px #DEE2E6" margin-bottom>
            <ion-card-subtitle>La sangre es necesaria para:</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content no-padding>
            <ion-label>Transplantes</ion-label><br>
            <ion-label>Operaciones</ion-label><br>
            <ion-label>Tratamientos oncológicos</ion-label><br>
            <ion-label>Accidentes</ion-label>
        </ion-card-content>
    </ion-card>

    <ion-card no-margin id="to-be-aware" padding-top>
        <ion-card-header margin-top no-padding padding-start padding-end>
            <ion-card-subtitle>Si el</ion-card-subtitle>
            <ion-card-title class="title" color="danger">3 al 5%</ion-card-title>
            <ion-card-subtitle>de los ciudadanos</ion-card-subtitle><br>
            <ion-card-subtitle>concurre a donar</ion-card-subtitle>
            <ion-card-title class="title" color="danger">2 veces</ion-card-title>
            <ion-card-subtitle>al año</ion-card-subtitle><br>
            <ion-card-subtitle>se cubre el</ion-card-subtitle>
            <ion-card-title class="title" color="danger">100%</ion-card-title>
            <ion-card-subtitle>de las necesidades del país.</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-button style="font-size: 1rem;" expand="full" shape="round" routerLink="/test" color="danger" size="large">
                ¿Querés donar? Consulta si podrías hacerlo
            </ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>
<app-footer></app-footer>
