ion-content{
  height: 100%;
  display: block;
  vertical-align: middle;
}

ion-card {
  cursor: alias;
}

ion-card-content, ion-card-content, ion-icon {
  color: white;
}

ion-card-content {
  font-size: 1rem;
}

.slogan {
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0 auto;
}

img{
  height: 20vh;
  width: auto;
  margin: auto;
  display: block;
}

h3 {
  color: #e43434;
  margin: 0 auto;
  font-weight: bold;
}