.content {
  font-size: 1.1rem;
  font-weight: 400;
}

.question-card {
  padding-left: 30px;
  padding-right: 30px;
}

ion-content {
  --padding-top: 20px;
  --padding-start: 35px;
  --padding-end: 35px;
}

.card-margin-bottom {
  --margin-bottom: 30px !important;
}
