<app-header title="Quiénes pueden"></app-header>

<ion-content>

  <h3>Entérate si podrías ser donante</h3>

  <ion-card no-margin margin-bottom margin-top padding-top padding-bottom routerLink="/test" justify-content-center color="danger">

    <ion-card-header no-padding>
      <ion-card-title text-center>
        <ion-icon mode="md" style="zoom:1.5;" name="checkbox-outline"></ion-icon>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content no-padding text-center>
      Test puedo ser donante
    </ion-card-content>

  </ion-card>

  <ion-item-divider no-margin color="ligth"></ion-item-divider>

  <ion-card no-margin class="question-card" justify-content-center color="light" mode="md">

    <ion-card-header no-padding padding-top>
      <ion-card-title mode="md">
        ¿Sabés tu factor Rh?
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-start content" no-padding padding-top padding-bottom text-center>
      Cada uno de nosotros nace con
      un tipo de sangre que pertenece a
      un Grupo (A, B, AB, 0) y a un factor
      Rh (Positivo o Negativo). Por esta
      condición genética, nuestro
      organismo debe recibir sangre
      compatible.
    </ion-card-content>

  </ion-card>

</ion-content>

<app-footer></app-footer>
